/.mixin.out

/armourers_workshop

/backups

# /config - 部分
/config/blockswap/known_states

/crash-reports

/debug

# /defaultconfigs

# /GraalvmJDK21 - 部分
/GraalvmJDK21/bin
/GraalvmJDK21/conf
/GraalvmJDK21/include
/GraalvmJDK21/jmods
/GraalvmJDK21/languages
/GraalvmJDK21/legal
/GraalvmJDK21/lib
/GraalvmJDK21/tools
/GraalvmJDK21/GRAALVM-README.md
/GraalvmJDK21/license-information-user-manual.zip
/GraalvmJDK21/LICENSE.txt
/GraalvmJDK21/release

# /kubejs

# /libraries

/local

/localconfigs

/logs

/modernfix

# /mods

/patchouli_books

/thingpacks

/tlm_custom_pack

/world

# /.gitignore

/banned-ips.json

/banned-players.json

/eula.txt

/ops.json

# /README.md

/rhino.local.properties

# /run.bat

# /server.properties

# /user_jvm_args.txt

/usercache.json

/whitelist.json